<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%= data.site.lang %>"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="<%= data.site.lang %>"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="<%= data.site.lang %>"><![endif]-->
<!--[if gt IE 8]<!-->
<html class="no-js" lang="zh">
  <!--<![endif]-->
  <head>
    <meta charset="UTF-8">

    <title>
      <%= yield_content(:title).blank? ? data.site.title :  yield_content(:title) + " - " + data.site.title %>
    </title>

    <meta name="description" content="<%= yield_content(:description).blank? ? data.site.description : yield_content(:description)  %>">
    <meta name="keywords" content="<%= yield_content(:keywords).blank? ? data.site.keywords.join(',') : yield_content(:keywords) %>">
    <meta name="author" content="<%= data.site.author %>">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="57x57" href="/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png">

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
    <link rel="shortcut icon" sizes="16x16" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="Teahour.fm Feed" href="/feed.xml" />

    <%= stylesheet_link_tag 'application' %>
    <link type='text/css' rel='stylesheet' href='http://tinysou-cdn.qiniudn.com/tinysou.min.css' media='all' />
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <%=  javascript_include_tag 'application' %>
    <script type="text/javascript">var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= data.site.google_analytics_id %>']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();</script>
  </head>

  <body class="<%= page_classes %>">

    <header class="masthead">
      <hgroup>
        <h1>Teahour.fm</h1>
        <h2 class="tagline">Tea hour for geek's mind.</h2>
      </hgroup>

      <ul class="participants">
        <%= yield_content(:participants) %>
      </ul>
    </header>

    <section class="main">
      <%= yield %>
    </section>

    <nav>
      <%= yield_content(:nav) %>
    </nav>

    <footer class="footer">
      <div class="global-nav">
        <ul class="social-connect">
        <li><a href="//itunes.apple.com/cn/podcast/teahour.fm/id608387170?l=en"><i class="icons-podcast"></i></a></li>
        <li><a href="/feed.xml"><i class="icons-rss"></i></a></li>
        <li class="dropdown dropup" id="newsletter">
          <a href="#newsletter" class="dropdown-toggle" data-toggle="dropdown"><i class="icons-email"></i></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="Newsletter">
            <li>
              <form action="http://pragmatic.us5.list-manage1.com/subscribe/post?u=73dd7c7fe45b53ba8e6ca952d&amp;id=2bcf4ff1fe" method="post" class="validate form-inline" target="_blank" novalidate style="margin-bottom:0">
                <label for="email">We're not going to spam but inspire you :)</label>
                <input type="email" value="" name="EMAIL" class="email input-large" placeholder="Email" id="email" required>
                <input type="submit" value="Subscribe" name="subscribe" class="btn btn-small btn-success">
              </form>
            </li>
           </ul>
        </li>

        <li id="github"><a href="https://gitcafe.com/teahour/site"><i class="icons-github"></i></a></li>
      </ul>

        <ul class="nav">
        <li class="dropdown dropup" id="episodes">
          <a href="#episodes" class="dropdown-toggle" data-toggle="dropdown">Episodes</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="Episodes">
            <% selected_article = current_article || page_articles[0] %>
            <% blog.articles.each do |article| %>
              <% if selected_article == article %>
              <li class="active">
                <a href="<%= article.url %>">#<%= article.data['idx'] %> <%= article.title %></a>
              </li>
              <% else %>
              <li>
                <a href="<%= article.url %>">#<%= article.data['idx'] %> <%= article.title %></a>
              </li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li class="dropdown dropup" id="about">
          <a href="#about" class="dropdown-toggle" data-toggle="dropdown">About</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="About">
            <li>
              <h4>Teahour.fm</h4>
              <p>
                Teahour.fm 由 Terry Tai，Dingding Ye, Daniel Lv, Kevin Wang 和 Xdite Cheng 主持，会专注程序员感兴趣的话题，包括 Web 设计和开发，移动应用设计和开发，创业以及一切 Geek 的话题。
              </p>
              <h5>We also talk on:</h5>
              <ul class="social-buttons">
                <li><a href="//twitter.com/teahourfm" class="social-twitter"><i class="icons-twitter"></i> Twitter</a></li>
                <li><a href="//facebook.com/teahourfm" class="social-facebook"><i class="icons-facebook"></i> Facebook</a></li>
                <li><a href="//weibo.com/teahourfm" class="social-weibo"><i class="icons-weibo"></i> Weibo</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown dropup" id="search">
          <a href="#search" class="dropdown-toggle" data-toggle="dropdown">Search</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="search">
            <li>
              <form class="form-inline">
                <input type="text" placeholder="eg. dingding" id="ts-search-input">
                <input type="submit" value="Search" name="subscribe" class="btn btn-small btn-success">
              </form>
            </li>
          </ul>
        </li>
        <!-- <li>
          <a href="#">Category</a>
        </li> -->
      </ul>
      </div>

      <p class="copyright">
        &copy; <%= Time.now.year %> <%= data.site.title %> <a href="//creativecommons.org/licenses/by-nc-sa/2.5/cn/" target="_blank">CC BY 2.5</a>
        <br />
        Site built by <a href="https://fengche.co" target="_blank" class="vendor">Fengche.co</a>,
        Logo by <a href="//weibo.com/u/1766991917" target="_blank" class="vendor">Alaia Liu</a>,
        Audios hosted by <a href="//www.upyun.com/?md=Railscasts-china" target="_blank" class="vendor">Upyun</a>
      </p>
    </footer>

    <!-- topics
      <span class="tag">Web</span>,
      <span class="tag">Mobile</span>,
      <span class="tag">Programming</span>,
      <span class="tag">Entreprenurship</span>,
      <span class="tag">Geeky</span>
     -->

    <%= javascript_include_tag 'main' %>
    <%= yield_content :footer %>
    <script src = 'http://tinysou-cdn.qiniudn.com/tinysou-nojquery.js'></script>
    <script type="text/javascript">
      $(document).ready(function(){
        var customDropdownStylesFunction = function($this) {
          var config = $this.data('tinysou-config-autocomplete');
          var $attachEl = config.attachTo ? $(config.attachTo) : $this;
          var offset = $attachEl.offset();
          var styles = {
            'position': 'fixed',
            'z-index': 9999,
            'bottom': 140,
            'left': offset.left
          };
          if (config.setWidth) {
            styles['width'] = $attachEl.outerWidth() - 2;
          }
          return styles;
        };
        $('#ts-search-input').tinysouSearch({
          engineKey: '5c7c6e7c8789e403471e',
          perPage: 5,
          dropdownStylesFunction: customDropdownStylesFunction
        });
      })
    </script>

  </body>
</html>
