<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%= data.site.lang %>"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="<%= data.site.lang %>"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="<%= data.site.lang %>"><![endif]-->
<!--[if gt IE 8]<!-->
<html class="no-js" lang="zh">
  <!--<![endif]-->
  <head>
    <meta charset="UTF-8">

    <title>
      <%= yield_content(:title).blank? ? data.site.title :  yield_content(:title) + " - " + data.site.title %>
    </title>

    <meta name="description" content="<%= yield_content(:description).blank? ? data.site.description : yield_content(:description)  %>">
    <meta name="keywords" content="<%= yield_content(:keywords).blank? ? data.site.keywords.join(',') : yield_content(:keywords) %>">
    <meta name="author" content="<%= data.site.author %>">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="57x57" href="/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png">

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
    <link rel="shortcut icon" sizes="16x16" href="/favicon.ico">

    <%= stylesheet_link_tag 'application' %>
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <%=  javascript_include_tag 'application' %>
    <script type="text/javascript">var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= data.site.google_analytics_id %>']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();</script>
  </head>

  <body class="<%= page_classes %>">

    <header class="masthead">
      <hgroup>
        <h1>Teahour.fm</h1>
        <h2 class="tagline">Tea hour for geek's mind.</h2>
      </hgroup>
      <ul class="antipates">
        <li class="guest clock7"><a href="#"><img src="/images/yedingding.jpg"/></a></li><!-- http://www.gravatar.com/avatar/83c8cca11558f32207645ca270ae8475.jpg?s=80 -->
        <li class="host clock6"><a href="#"><img src="/images/terry.jpg"/></a></li><!-- http://www.gravatar.com/avatar/85a64fb3375926c0be5c75eccf40e853.jpg?s=80 -->
        <li class="guest clock5"><a href="#"><img src="/images/daniel.jpg"/></a></li><!-- http://www.gravatar.com/avatar/b338e877fffff7a61d90a799c081c85b.jpg?s=80 -->
        <li class="guest clock4"><a href="#"><img src="/images/kevin.jpg"/></a></li><!-- http://www.gravatar.com/avatar/84f0fa09738624f4d4b6eaf97f00ddbd.jpg?s=80 -->
      </ul>
    </header>

    <section class="main">
      <article class="post">
        <audio controls name="media" class="player">
          <source src="" type="audio/mpeg">
        </audio>
        <h2 class="title">#4 Interview with ashchan on app development</h2>
        <dl>
          <dt>Host:</dt><dd> Dingding Ye</dd>
          <dt>Guests:</dt><dd> Ashchan, Terry</dd>
          <dt>Topic:</dt><dd>Mobile Development, iOS, RubyMotion</dd>
        </dl>
        
        <h4>Show Notes:</h4>
        <div class="notes">
         <p> 本期由 Dingding Ye 主持，邀请了 RubyChina 的核心开发者之一和 Mac 版的作者 Ashchan 给大家分享了他在 Mac 桌面应用和 iOS/Android 移动开发上的一些心得体会。同时参与嘉宾有 Terry Tai。主要涉及内容有:</p>

          <ol>
            <li>各种 Ruby Bridge/Binding for Mac/iOS dev
              <ul>
                <li><a href="http://rubycocoa.sourceforge.net/">RubyCocoa</a>: A Ruby/Objective-C Bridge for Mac OS X with Cocoa</li>
                <li><a href="http://macruby.org/">MacRuby</a>: Ruby for the Objective-C Runtime, an implementation of Ruby 1.9 directly on top of Mac OS X core technologies</li>
                <li><a href="http://www.rubymotion.com/">RubyMotion</a>: Ruby for iOS, a revolutionary toolchain for iOS.</li>
              </ul>
            </li>
            <li>Mobile Development
              <ul>
                <li>iOS and Objective-C</li>
                <li>Android and Java</li>
              </ul>
            </li>
            <li>HTML based solution
              <ul>
                <li>WebView 控件</li>
                <li><a href="http://phonegap.com/">PhoneGap</a>: A free and open source framework that allows you to create mobile apps using HTML, CSS and JavaScript.</li>
                <li><a href="https://www.appcelerator.com/platform/titanium-platform/">Titanium</a>: An open, extensible development platform for creating beautiful native apps across different mobile devices and OSs including iOS, Android, Windows and BlackBerry, as well as hybrid and HTML5.</li>
                <li><a href="http://jquerymobile.com/">jQuery Mobile</a>: A unified, HTML5-based user interface system for all popular mobile device platforms, built on the rock-solid jQuery and jQuery UI foundation.</li>
              </ul>
            </li>
          </ol>
          
          <ul class="refs">
            <li><a href="http://www.rakutec.com/">Rakuraku</a></li>
            <li><a href="http://ashchan.com/projects/gmail-notifr">gmail-notifr</a></li>
            <li><a href="http://pragprog.com/book/bmrc/programming-cocoa-with-ruby">Programming Cocoa with Ruby</a></li>
            <li><a href="http://clang.llvm.org/docs/AutomaticReferenceCounting.html">ARC</a></li>
            <li><a href="http://iweek.ly/">iWeekly</a></li>
            <li><a href="http://www.amazon.com/Mind-Map-Book-Thinking-Potential/dp/0452273226">Mind Map Book</a></li>
            <li><a href="http://mindnode.com/">MindNode Pro</a></li>
            <li><a href="http://www.echofon.com/">Echofon for Social</a></li>
            <li><a href="http://pragprog.com/book/carubym/rubymotion">RubyMotion</a></li>
            <li><a href="http://baike.baidu.com/view/5500364.htm">我是歌手</a></li>
          </ul>
        </div>
        
      </article>      
    </section>
    
    <nav>
      <ul class="page-nav">
        <li><a href="#" class="prev"><i class="icon-angle-left"></i></a></li>
        <li><a href="#" class="next"><i class="icon-angle-right"></i></a></li>
      </ul>
    </nav>
    
    <footer class="global-nav">
      <ul class="social-connect">
        <li><a href="/feed.xml"><i class="icons-podcast"></i></a></li>
        <li><a href="/rss.xml"><i class="icons-rss"></i></a></li>
        <li><a href="#"><i class="icons-twitter"></i></a></li>
        <li><a href="#"><i class="icons-weibo"></i></a></li>
      </ul>
      
      <ul class="nav">
        <li>
          <a href="#">Episodes</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Search</a>
        </li>
      </ul>
      
      <span class="copyright">
        &copy; <%= Time.now.year %> <%= data.site.title %> CC BY 3.0
      </span>
    </footer>
    
    <!-- topics
      <span class="tag">Web</span>,
      <span class="tag">Mobile</span>,
      <span class="tag">Programming</span>,
      <span class="tag">Entreprenurship</span>,
      <span class="tag">Geeky</span>
     -->
    
    <%= javascript_include_tag 'main' %>
    <%= yield_content :footer %>
  </body>
</html>
