<% content_for :participants do %>
  <li class="guest clock7">
    <%= author_tag article.data["guests"].first %>
  </li>
  <li class="host clock6">
    <%= author_tag article.data["host"] %>
  </li>
  <% article.data["guests"][1..-1].each_with_index do |guest, i| %>
  <li class="guest clock<%= 5 - i %>">
    <%= author_tag guest %>
  </li>
  <% end %>
<% end %>

<% content_for :nav do %>
  <ul class="page-nav">
    <li><%= prev_nav(article.previous_article) %></li>
    <li><%= next_nav(article.next_article) %></li>
  </ul>
<% end %>

<div class="player">
  <audio controls name="media" src="<%= article.data["mp3_link"] %>">
  </audio>

  <ul class="actions">
    <li><a href="<%= article.data["mp3_link"] %>" download="<%= article.data["mp3_link"].split('/').last %>"><i class="icons-download"></i></a></li>
  </ul>
</div>

<h2 class="title">
  <div class="bdsharebuttonbox"><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"推荐 Teahour #<%= article.data["idx"] %> 期，<%= article.data["title"] %>","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

  <small>#<%= article.data['idx'] %> released on <%= article.date.strftime("%m/%d/%Y") %></small>
  <%= article.title %>
</h2>

<div class="weixin">
  <%= image_tag "qrcode.jpg" %>
</div>

<dl>
  <dt>Host:</dt><dd> <%= author(article.data["host"]).name %></dd>
  <dt>Guests:</dt><dd> <%= article.data["guests"].map { |guest| author(guest).name }.join(", ") %></dd>
  <dt>Topic:</dt><dd> <%= article.tags.join(", ") %></dd>
</dl>

<h4>Show Notes:</h4>
<div>
  <%= article.body %>
</div>
